.favoritesPg {
  margin-left: 2rem;
  color: #222222;

  &_greet{
    font-size: 2rem;
    font-family: cursive;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  &_description{
    font-size: 1.2rem;
    font-family: cursive;
    margin: 0.7rem 0 0 0;
  }

  &_container{
    display: flex;
    flex-wrap: wrap;
  }

  &Recommandation_section{
    &-title{
      font-size: 2rem;
      font-family: cursive;
      margin: 3rem 0 1rem 0;
    }

    &-slider{
      display: flex;
    }
  }
}