$primaryColor: #222222;

.myFeedback {
  color: $primaryColor;
  &_firstSection {
    background: linear-gradient(
      to bottom right,
      #eebe76,
      rgb(235, 235, 160),
      #bfa0ee
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_left {
      width: 33rem;
      & img {
        width: 4rem;
      }

      &_category {
        font-size: 1.8rem;
        font-weight: 500;
        font-family: 'IvyMode';
        margin: 0.5rem 0;
      }

      &_text {
        font-size: 1.8rem;
        font-family: 'IvyMode';
        margin: 0;
      }
      &_subtext {
        margin: 0.7rem 0;
      }
    }
    &_right {
      width: 40%;
    }
  }
  &_secondSection {
    margin-top: 3rem;
    color: $primaryColor;
    &Align {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &_heading {
      color: $primaryColor;
      font-size: 1.8rem;
      font-weight: 500;
      font-family: cursive;
      margin: 1rem 0;
      margin: 0;
    }
    &_text {
      font-size: 1.8rem;
      font-weight: 500;
      font-family: cursive;
      margin: 0 0 2rem 0;
    }
  }
}
