.cancel_event_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .cancel_event {
    position: absolute;
    top: 3rem;
    right: 11rem;
    background-color: white;
    border-radius: 0.7rem;
    padding: 0.5rem;
    width: 22rem;
    font-family: cursive;
  }
  
  .Home {
    margin-left: 2rem;
    font-family: sans-serif;
  }
  
  .Home_title {
    font-family: cursive;
    font-size: 2rem;
    font-weight: 200;
    color: #333;
  }
  
  /* Suggestion Starts from here */
  .SuggestionSectionSlider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .suggestionSection_title {
    font-family: cursive;
    font-size: 2rem;
    font-weight: 200;
    color: #333;
  }
  
  .SuggestionSectionSlider::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .recommandationSection_title {
    font-family: cursive;
    font-size: 2rem;
    font-weight: 200;
    color: #333;
  }
  
  .recommandationSection_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
  }
  
  .visitedSection_title {
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 200;
    color: #333;
  }
  
  .visitedSectionSlider {
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
  }
  