.recommationContainer{

}
.recommationContainer_imgContainer{

/* 
    width: 100px;
    height: 90px;
*/
}

#recommationContainer_heartpng{
    height: 2rem;
    position: relative;
    top: 0px;
    left: 0px;
}

#recommationContainer_img{
    height: 22rem;
    width: 17rem;
}

.recommationContainer_subtext{
    /* color: gray; */
    /* font-size: 0.6rem; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
}

.recommationContainer_subtext_name{
    font-size: 0.6rem;
    margin: 0;
}

.recommationContainer_subtext_date{
    font-size: 0.6rem;
    font-weight: 700;
    color: gray;
    margin: 0;
}

.recommationContainer_description{
    margin: 0;
}

.recommationContainer_description_name{
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
}

.recommationContainer_description_time{
    font-size: 0.7rem;
    margin: 0.5rem 0 0 0;
}