$primaryColor: #222222;

.eventDetailsPg {
  margin-top: 2rem;
  margin-left: 2rem;
  color: $primaryColor;
  &_heading {
    color: $primaryColor;
    font-size: 2rem;
    font-family: "IvyMode";
    margin: 0;
  }

  &_details {
    gap: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    &_stars {
      display: flex;
      margin: 0;

      & > img {
        display: block;
        margin: 0;
        height: 1rem;
      }
    }

    &_reviews {
      text-decoration: underline;
    }
  }

  &_images {
    position: relative;
    display: flex;
    margin: 0;
    width: 80rem;
    border-radius: 1rem;
    overflow: hidden;

    &_left {
      display: flex;
      gap: 0.4rem;
      width: 40.9rem;
      flex-wrap: wrap;
      &_img {
        width: 20rem;
        margin: 0;
        overflow: hidden;
        max-height: 15.3rem;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &_right {
      &_img {
        width: 39rem;
        height: 31rem;
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; // Ensures the image fills the div while maintaining aspect ratio
        }
      }
    }

    &_btn {
      position: absolute;
      top: 27rem;
      right: 5rem;
      border: none;
      background: white;
      border-radius: 0.4rem;
      padding: 0.7rem 2rem;
      cursor: pointer;
      &:hover {
        background: #f1f1f1;
      }
    }
  }

  &_description {
    font-size: 0.9rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 5rem;

    &_left {
      width: 42rem;

      &_heading {
        font-size: 2rem;
        font-family: "IvyMode";
        margin: 0;
      }

      &_details {
        font-size: 0.8rem;
        &_1,
        &_2,
        &_3 {
          display: flex;
          margin: 2rem 0 0 0;
          align-items: self-start;
          & p {
            margin: 0;
            font-size: 0.8rem;
          }
          & p:first-child {
            margin: 0;
            font-size: 1rem;
            font-weight: 540;
          }
          & img {
            width: 1.2rem;
            margin-right: 0.5rem;
          }
        }
      }

      &_eventName {
        margin-top: 4rem;
        &_heading {
          font-size: 2rem;
          font-family: "IvyMode";
          margin: 0;
        }

        &_stars {
          display: flex;
          // justify-content: center;
          font-size: 0.8rem;
          align-items: center;
          margin: 0.6rem 0 0 0;
          & img {
            margin: 0;
            width: 1rem;
            height: 1rem;
          }

          &_text {
            display: block;
            font-size: 0.8rem;
            margin-left: 0.5rem;
          }
        }

        &_text_1 {
          line-height: 2;
        }
      }

      &_text {
        & p {
          margin: 2rem 0 2rem 0;
          font-size: 0.8rem;
          line-height: 1.5rem;
        }
      }
    }

    &_right {
      &_form {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;

        &_time {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 15px;
        }

        &_formGroup {
          border: 1px solid gray;
          border-radius: 0.3rem;
          padding: 0.5rem;
          &1 {
            // border: 1px solid gray;
            display: flex;
            justify-content: space-around;

            &_1 {
              & label {
                display: block;
                font-size: 0.8rem;
              }
              & p {
                margin: 0;
              }
            }
          }

          &2 {
            // border: 1px solid gray;
            display: flex;
            justify-content: space-around;
            margin-top: 10px;

            display: flex;
            &_2 {
              width: 14rem;
              & label {
                display: block;
                font-size: 0.8rem;
              }
              & input {
                display: block;
                border: none;
                font-size: 1rem;

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
        &_dropdown {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background: white;
        }
        &_availability {
          margin: 1rem 0 1rem 0;
          font-size: 14px;
          // margin-bottom: 15px;
        }
        &_btn {
          background: #222222;
          color: white;
          padding: 10px;
          text-align: center;
          border: none;
          width: 100%;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }

  &_reviews {
    display: flex;
    align-items: center;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: auto;
    gap: 1rem;
  }

  &_recommendations {
    &_heading {
      font-size: 1.7rem;
      font-family: "IvyMode";
      margin: 3rem 0 0 0;
    }

    &_cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
    }
  }
}
