.recommationContainer_imgContainer {
  position: relative;
}

#recommationContainer_heartpng {
  height: 2rem;
  position: relative;
  top: 0px;
  left: 0px;
}

#recommationContainer_img {
  height: 20rem;
  width: 15rem;
}

.number {
  font-size: 84px;
  font-weight: bolder;
  color: transparent;
  background-color: transparent;
  text-shadow: none;
  position: absolute;
  z-index: 1;
  top: 14.1rem;
  left: 11.1rem;
  -webkit-text-stroke: 2px white;
}

.recommationContainer_subtext {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.recommationContainer_subtext_name {
  font-size: 0.6rem;
  margin: 0;
}

.recommationContainer_subtext_date {
  font-size: 0.6rem;
  font-weight: 700;
  color: gray;
  margin: 0;
}

.recommationContainer_description_name {
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
}

.recommationContainer_description_time {
  font-size: 0.7rem;
  margin: 0.5rem 0 0 0;
}

/* /////////////////// */
/* Heart CSS */

.heart {
    cursor: pointer;
    position: relative;
    top: -17rem;
    left: 12rem;
    display: inline-block;
    width: 0rem;
    backdrop-filter: blur(100px);
}

.heart > svg {
    /* background-color: red; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}
