.recommationContainer {
  margin-right: 1rem;
}

.recommationContainer_imgContainer {
  position: relative;
}

#recommationContainer_heartpng {
  height: 2rem;
  position: relative;
  top: 0px;
  left: 0px;
}

.recommendationContainer_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;

  & img {
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.5rem;
  }
}

.recommationContainer_subtext {
  display: flex;
  margin: 0.5rem 0 0 0;
  justify-content: space-between;
  align-items: center;

  &_name {
    font-size: 0.7rem;
    margin: 0;
  }

  &_date {
    font-size: 0.7rem;
    font-weight: 700;
    color: gray;
    margin: 0;
  }
}

.recommationContainer_description {
  &_name {
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
  }

  &_time {
    font-size: 0.7rem;
    margin: 0.5rem 0 0 0;
  }
}
/* /////////////////// */
/* Heart CSS */

.heart {
  cursor: pointer;
  position: relative;
  top: -17rem;
  left: 12rem;
  display: inline-block;
  width: 0rem;
  backdrop-filter: blur(100px);
}

.heart > svg {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.number {
  font-size: 84px;
  font-weight: bolder;
  color: transparent;
  background-color: transparent;
  text-shadow: none;
  position: absolute;
  z-index: 1;
  top: 16.1rem;
  left: 11.1rem;
  -webkit-text-stroke: 2px white;
}
