$heading_font_family: cursive;
$primaryColor: #222222;

body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f2;
}

.upcomingEventsPg {
  font-family: $heading_font_family;
  margin: 3rem 0 0 2rem;
  color: $primaryColor;

  &_heading {
    color: $primaryColor;
    font-size: 2rem;
    margin: 0;
  }

  &_subtext {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 0.7rem;
  }

  &_date_and_distance {
    display: flex;
    gap: 5rem;
  }

  &_dateLocation_btns {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    gap: 1rem;

    &_date {
      position: relative;

      & img {
        position: absolute;
        top: 50%;
        left: 0.8rem;
        width: 1.2rem;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
      }

      input[type="date"] {
        border: 1px solid #222222;
        border-radius: 1rem;
        padding: 0.5rem;
        padding-left: 2.5rem;
        width: 7rem;
        height: 1rem;
        background-color: transparent;
        position: relative;
      }

      input[type="date"]::-webkit-datetime-edit {
        color: transparent; /* Hides default text until a date is picked */
      }

      input[type="date"]:placeholder-shown::-webkit-datetime-edit {
        color: #888; /* Adjust color as needed */
      }

      input[type="date"]:focus {
        outline: none;
      }

      input[type="date"]:invalid {
        color: #888;
      }
    }

    &_location {
      position: relative;

      & img {
        position: absolute;
        top: 50%;
        left: 0.8rem;
        width: 1.2rem;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
      }
      & input[type="text"] {
        position: relative;
        border: 1px solid $primaryColor;
        border-radius: 1rem;
        padding: 0.5rem;
        padding-left: 2.5rem;
        width: 100%;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }
    }

    // & button {
    //   border: 1px solid $primaryColor;
    //   border-radius: 1rem;
    //   padding: 0.6rem;
    //   cursor: pointer;
    //   background-color: transparent;
    //   transition: all 0.5s;
    //   width: 8rem;

    //   &:hover {
    //     background-color: $primaryColor;
    //     color: white;
    //   }
    // }
  }

  &_location_btn {
    width: 12rem;
  }

  &_eventsType {
    font-size: 1rem;

    &_btns {
      display: flex;
      & button {
        margin-right: 1rem;
        border: 1px solid $primaryColor;
        border-radius: 1.5rem;
        padding: 0.6rem 1rem;
        cursor: pointer;
        // background-color: transparent;
        transition: all 0.5s;

        &:hover {
          // background-color: $primaryColor;
          color: white;
        }
      }
    }

    &_btn_active {
      background-color: $primaryColor;
      color: white;
    }
  }

  &_recommendation {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 80.5rem;
    gap: 0.8rem;
  }
}

.ColorRed {
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
}
