$heading_font_family: cursive;

body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f2;
}

.upcomingEventsPg {
  font-family: $heading_font_family;
  margin: 3rem 0 0 2rem;

  &_heading {
    font-size: 2rem;
    margin: 0;
  }

  &_text {
    margin: 0;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  &_date_and_distance {
    display: flex;
    gap: 5rem;
  }

  &_date_location_btns {
    display: flex;
    justify-content: space-between;
    width: 18rem;

    & button {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 0.6rem;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.5s;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  &_location_btn {
    width: 12rem;
  }

  &_eventsType {
    font-size: 1rem;

    &_btns {
      display: flex;
      & button {
        margin-right: 1rem;
        border: 1px solid black;
        border-radius: 1.5rem;
        padding: 0.6rem 1rem;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.5s;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
