.completedEventsPg {
  &_addReview {
    border: 1px solid black;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    margin: 2rem;
    margin-left: 6rem;
    margin-right: 10rem;

    &_text {
      margin: 0;
      &_heading {
        margin: 0.7rem 0;
        font-family: cursive;
        font-size: 2rem;
      }
      &_description {
        margin: 0;
        font-family: cursive;
        font-size: 1.2rem;
      }
    }

    &_btn {
      border: none;
      background-color: #222222;
      color: white;
      padding: 1rem 2rem;
      border-radius: 0.5rem;

      cursor: pointer;
    }
  }
}
