$primaryColor: #222222;
.selectDistance {
  &_btns {
    display: flex;
    gap: 1rem;

    &_walking,
    &_driving,
    &_noLimits {
      margin: 0;
      border: 1px solid black;
      border-radius: 1rem;
      overflow: hidden;

      & button {
        transition: all 0.5s;
        margin: 0;
        cursor: pointer;
        border: none;
        padding: 0.6rem 1rem;
        font-size: 0.8rem;
        background-color: transparent;

        &:hover {
          background-color: $primaryColor;
          color: white;
        }
      }
    }

    &_btn_active {
      background-color: #222222 !important;
      color: white;
    }

    // &_middleBtn {
    //   background-color: red;
    //   border-left: 14px solid black;
    // }
  }
}



#bothSidebarinDistance{
  border-left: #222222 1px solid;
  border-right: #222222 1px solid;
}