

.notification {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  background-color: #b79535;;
  border-radius: 50%;
}

.notification-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.notification-item:last-child {
  border-bottom: none;
}

.no-notifications {
  text-align: center;
  padding: 15px;
  color: #777;
}
