.corousalContainer {
    border: 1px solid black;
    max-width: 39vw;
    height: 15rem;
    display: flex;
    font-weight: 300;
    font-style: normal;
    border-radius: 1rem;
    margin-right: 1rem;
}

.corousalContainer_imgContainer{
    font-family: "Cormorant Garamond", serif;
    overflow: hidden;
    width: 25vw;
    border-radius: 1rem;
}

.corousalContainer_imgContainer > img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corousalContainer_textContainer {
    width: 40vw;
    margin-left: 0.5rem;
}

.corousalContainer_textContainer_heading {
    margin-top: 20px;
    margin-bottom: 3px;
}

.stars{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 0.7rem;
}

.stars-text {
    margin-left: 0.6rem;
}

.corousalContainer_textContainer_description {
    font-size: 0.8rem;
    height: 3rem; /* Adjust height to fit 3 lines */
    overflow: hidden; /* Hide overflow */
    display: -webkit-box; /* Required for line clamping */
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical; /* Vertical orientation */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
}
.corousalContainer_eventDetails{
    margin-top: 1rem;
    /* background-color: red; */
}

.corousalContainer_eventDetails > div{
    display: flex;
    /* margin-left: 0.3rem; */
    /* justify-content: center; */
    align-items: center;
    font-size: 0.7rem;
    margin-top: 0.4rem;
}

.corousalContainer_eventDetails > div > img {
    /* display: block; */
    display: flex;
    margin-right: 0.6rem;
    /* justify-content: center; */
    /* align-items: center; */
    height: 0.8rem;
}
.corousalContainer_notifyContainer {
    display: flex;
    font-size: 0.7rem;
    margin-top: 18px;
    justify-content: space-between;
    width: 19rem;
    align-items: center;
}
#redstars{
    height: 0.8rem;
}
#smileGreenFace{
    height: 0.8rem;
    margin-right: 0.3rem;
}

.corousalContainer_notifyContainer_text1{
    display: flex;
    justify-content: center;
    align-items: center;
}