.recommendationCards {
  margin-top: 2rem;
  cursor: pointer;
  color: $primaryColor;

  &_card {
    position: relative;
    width: 15rem;
    border-radius: 1rem;
    margin: 0.1rem;
    height: 28rem;

    &_img_container {
      overflow: hidden;
      height: 22rem;
      width: 100%;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        -webkit-backdrop-filter: brightness(0.1);
        backdrop-filter: brightness(0.1);
        max-width: none; //* Prevent scaling */
        max-height: none;
        width: 100%; /* Ensures it fills the div */
        height: 100%;
        object-fit: cover; /* Ensures no distortion and fills the div */
        object-position: center; /* Centers the image */
      }
    }

    &_text {
      color: $primaryColor;
      margin: 0.5rem 0.5rem;

      &_subtext {
        color: $primaryColor;
        display: flex;
        font-size: 0.7rem;
        justify-content: space-between;
        width: 14.5rem;

        &_name {
          font-size: 0.8rem;
          color: $primaryColor;
          margin: 0;
        }

        &_date {
          font-size: 0.8rem;
          color: $primaryColor;
          margin: 0;
        }
      }

      &_name {
        font-size: 1rem;
        margin: 0;
        margin-top: 1rem;
      }

      &_time {
        font-size: 0.8rem;
        margin: 0;
      }
    }

    &_heart {
      cursor: pointer;
      position: absolute;
      top: 1.5rem;
      right: 1.6rem;
      width: 18px;
      height: 16px;
      background: #222222;
      transform: rotate(-45deg);
      border-bottom: 2px solid #222222;
      border-left: 2px solid #222222;
      // transition: background-color 0.2s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background: #222222;
        border: 2px solid #222222;
        border-radius: 50%;
      }

      &::before {
        width: 16px;
        height: 16px;
        top: -13px;
        left: -2px;
      }

      &::after {
        width: 16px;
        height: 16px;
        top: -2px;
        left: 9px;
      }

      &:hover {
        background-color: rgb(238, 18, 92);
        border: 2px solid rgb(238, 18, 92);
        &::before,
        &::after {
          border: 2px solid rgb(238, 18, 92);
          background-color: rgb(238, 18, 92);
        }
      }
    }

    &Rank {
      position: absolute;
      font-size: 80px;
      font-family: sans-serif;
      font-weight: bolder;
      color: rgb(181 29 29 / 15%);
      background-color: transparent;
      -webkit-text-stroke: 2px white;
      text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
      z-index: 1;
      left: 11.5rem;
      top: 16rem;
      filter: contrast(0.5);
      -webkit-text-fill-color: transparent;
    }
  }
}

.isLiked {
  background-color: rgb(238, 18, 92);
  border: 2px solid rgb(238, 18, 92);
  &::before,
  &::after {
    border: 2px solid rgb(238, 18, 92);
    background-color: rgb(238, 18, 92);
  }
}
