.recommendationCards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
  width: 80rem;

  &_card {
    position: relative;
    width: 15rem;
    border-radius: 1rem;
    margin: 0.1rem;
    height: 28rem;

    &_img_container {
      overflow: hidden;
      height: 22rem;
      width: 100%;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        // margin-top: 2rem;
        -webkit-backdrop-filter: brightness(0.1);
        backdrop-filter: brightness(0.1);
        max-width: none; //* Prevent scaling */
        max-height: none;
        width: 100%; /* Ensures it fills the div */
        height: 100%;
        object-fit: cover; /* Ensures no distortion and fills the div */
        object-position: center; /* Centers the image */
      }
    }

    &_text {
      margin: 0 0.5rem;

      &_subtext {
        display: flex;
        font-size: 0.7rem;
        justify-content: space-between;
        width: 14.5rem;

        &_name {
          margin: 0;
        }

        &_date {
          margin: 0;
        }
      }

      &_name {
        font-size: 1rem;
        margin: 0;
        margin-top: 1rem;
      }

      &_time {
        font-size: 0.8rem;
        margin: 0;
      }
    }

    &_heart {
      cursor: pointer;
      position: absolute;
      top: -1rem;
      left: 9rem;
      width: 18px;
      height: 14px;
      background-color: #222222;
      transform: rotate(-45deg);
      margin: 50px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 16px;
        background-color: #222222;
        border-radius: 50%;
      }

      &::before {
        top: -10px;
        left: 0px;
      }

      &::after {
        top: -2px;
        left: 9px;
      }
    }
  }
}
