.mapContainerIt {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapContainerIt_title {
  font-size: 1rem;
  font-weight: 200;
  color: #222222;
  font-family: "IvyMode";
}

.onSchedule {
  font-weight: 200;
  color: #333;
  background-color: limegreen;
}

.onDelay {
  font-weight: 200;
  color: white;
  background-color: red;
}
