.editProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  &Pg {
    width: 60rem;
    &_heading {
      font-family: cursive;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &_container {
      display: flex;
      gap: 2rem;

      &_left {
        &_img {
          overflow: hidden;
          border-radius: 0.5rem;
          height: 11rem;
          width: 10rem;
          position: relative;
          cursor: pointer;
          transition: all 0.3s;
          &_profileImg {
            position: absolute;
            /* top: 50%; */
            /* left: 50%; */
            /* transform: translate(-50%, -50%); */
            /* min-width: 100%; */
            /* min-height: 100%; */
            /* height: 100%; */
            width: 100%;
            object-fit: cover;
            filter: brightness(0.5);
            transition: all 0.3s;
          }

          &_pencilbtn {
            position: absolute;
            z-index: 5;
            width: 3rem;
            height: 5rem;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover &_profileImg {
            filter: brightness(0.3);
          }
        }
      }

      &_right {
        &_inputs {
          margin-bottom: 2rem;
          display: block;
          & label,
          input {
            display: block;
          }

          & input {
            width: 23rem;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid #ccc;
            height: 2rem;

            &:focus {
              outline: none;
              border: 1px solid rgb(32, 124, 32);
            }
          }


        }
        &_btns {
          & button {
            padding: 0.9rem 2rem;
            font-size: 0.9rem;
            border: none;
            border-radius: 0.5rem;
            margin-right: 1rem;
            cursor: pointer;
          }

          & button:first-child {
            background-color: #ff385c;
            color: white;
          }
          & button:last-child {
            border: 1px solid black;
            background-color: none;
            color: black;
          }
        }
      }
    }
  }
}
