.confirmationPopup {
  width: 25rem;
  padding: 2rem 1rem;
  box-shadow: 0 0 5px black;
  border-radius: 0.6rem;

  &_header {
    font-family: cursive;

    & h3 {
      font-family: 16rem;
      font-size: 1.6rem;
      margin: 0;
    }
  }

  &_body {
    font-family: cursive;
    & p {
      font-family: 5rem;
    }
  }

  &_btn {
    & button {
      border: none;
      background-color: #222222;
      color: white;
      text-align: center;
      padding: 0.5rem 2rem;
      border-radius: 0.4rem;
    }
  }
}
