.rescheduledEventPg {
  &_headers {
    border: 1px solid black;
    padding: 1rem;
    width: 78rem;
    font-family: cursive;
    border-radius: 0.5rem;
    margin: 1rem 0 0 2rem;
    font-family: cursive;
    & h1 {
      font-weight: 500;
      margin: 0;
    }

    & p {
      margin: 0.8rem 0;
      font-size: 1.3rem;
    }
  }

  &_imgContainer {
    position: relative;

    display: flex;
    justify-content: center;
    margin: 2rem 0;

    & img {
      width: 80rem;
      height: 30rem;
      border-radius: 0.5rem;
      object-fit: cover;

      filter: brightness(0.6);
    }

    &_overlay {
      text-align: center;
      color: white;
      position: absolute;
      top: 10rem;

      &_text {
        // position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        & h1,
        p {
          //   font-size: 2.5rem;
          margin: 0.6rem;
        }

        &_timeSlots{
          margin: 0;
        }
      }

      & button {
        background-color: white;
        color: black;
        padding: 0.9rem 2rem;
        font-size: 0.9rem;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        margin: 1rem 0;
      }
    }
  }

  &_recommendation {
    margin: 0 0 0 2rem;

    &_text {
      font-size: 2rem;
      margin: 0;
      margin-top: 2rem;
    }
  }
}
