.corousalContainer {
  border: 1px solid black;
  width: 39vw;
  height: 15rem;
  display: flex;
  font-weight: 300;
  font-style: normal;
  border-radius: 1rem;
  margin-right: 1rem;

  &_imgContainer {
    font-family: "Cormorant Garamond", serif;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    &_weather--svg {
      position: absolute;
      top: 11.5rem;
      right: 0.5rem;
      width: 5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &_textContainer {
    width: 40vw;
    margin-left: 0.5rem;

    &_heading {
      margin-top: 20px;
      margin-bottom: 3px;
    }

    .stars {
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      margin: 0.4rem 0;
      gap: 0.5rem;

      &_text {
        margin-left: 0.6rem;
      }
    }

    &_description {
      font-size: 0.8rem;
      height: 3rem; /* Adjust height to fit 3 lines */
      overflow: hidden; /* Hide overflow */
      display: -webkit-box; /* Required for line clamping */
      -webkit-line-clamp: 3; /* Limit to 3 lines */
      -webkit-box-orient: vertical; /* Vertical orientation */
      text-overflow: ellipsis; /* Show ellipsis for overflow */
      position: relative;

      &::after {
        content: "read more";
        position: absolute;
        bottom: 5px;
        left: 44px;
        width: 100%;
        text-align: center;
        color: red;
        text-decoration: underline;
        font-size: 0.7rem;
        padding-top: 1rem;
        cursor: pointer;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.corousalContainer_eventDetails {
  margin-top: 1rem;
  /* background-color: red; */
}

.corousalContainer_eventDetails > div {
  display: flex;
  /* margin-left: 0.3rem; */
  /* justify-content: center; */
  align-items: center;
  font-size: 0.7rem;
  margin-top: 0.4rem;
}

.corousalContainer_eventDetails > div > img {
  /* display: block; */
  display: flex;
  margin-right: 0.6rem;
  /* justify-content: center; */
  /* align-items: center; */
  height: 0.8rem;
}
.corousalContainer_notifyContainer {
  display: flex;
  font-size: 0.7rem;
  margin-top: 18px;
  justify-content: space-between;
  width: 19rem;
  align-items: center;
}
#redstars {
  height: 0.8rem;
}
#smileGreenFace {
  height: 0.8rem;
  margin-right: 0.3rem;
}

.corousalContainer_notifyContainer_text1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Slider Event Goes Here */
.CorousalSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
}

.CorousalSlider::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
