.footer_container{
    margin-top: 3%;
    background-color: #222222;
    color: white;
    padding: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_container_left {
    margin-left: 2rem;
}

.footer_container_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
    margin-right: 2rem;
}