// Common variables
$primary-font: cursive;
$secondary-font: sans-serif;
$text-color: #222222;
$standard-margin: 0.5rem;

.visitedSection {
  &_title p {
    margin: 5rem 0 0 0;
    font-family: 'IvyMode';
    font-size: 2rem;
    font-weight: 200;
    color: $text-color;
  }
}

.visitedSectionSlider {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: $standard-margin;
}

.visitedContainer {
  cursor: pointer;
  margin: 1rem 1rem 1rem 0;
  font-family: $primary-font;
  color: $text-color;

  &_imgContainer {
    width: 16rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;

    & img {
      height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &_description {
    margin: $standard-margin 0 0 0;
    font-family: $secondary-font;

    &_title {
      font-size: 0.9rem;
      font-weight: 600;
      margin: 0;
    }

    &_attented {
      margin: 0.4rem 0 0 0;
      font-size: 0.7rem;
      font-weight: 300;
    }

    &_dateandTime {
      margin: 0;
      font-size: 0.7rem;
    }
  }

  &_rating {
    display: flex;
    align-items: center;
    margin: $standard-margin 0 0 0;
    font-family: 'IvyMode';

    &_stars {
      font-size: 0.8rem;
      margin: $standard-margin 0 0 0;

      &_black {
        margin-left: 0.4rem;
      }
    }
  }
}

#visitedContainer_rating_button {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
}
