body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f2;
}

.upcomingEventsPg {
  font-family: cursive;
  margin: 3rem 0 0 2rem;
}
.upcomingEventsPg_heading {
  font-size: 2rem;
  margin: 0;
}
.upcomingEventsPg_text {
  margin: 0;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.upcomingEventsPg_date_and_distance {
  display: flex;
  gap: 5rem;
}
.upcomingEventsPg_date_location_btns {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
.upcomingEventsPg_date_location_btns button {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
}
.upcomingEventsPg_date_location_btns button:hover {
  background-color: black;
  color: white;
}
.upcomingEventsPg_location_btn {
  width: 12rem;
}
.upcomingEventsPg_eventsType {
  font-size: 1rem;
}
.upcomingEventsPg_eventsType_btns {
  display: flex;
}
.upcomingEventsPg_eventsType_btns button {
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
}
.upcomingEventsPg_eventsType_btns button:hover {
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.footer_container {
  margin: 0;
  margin-top: 3%;
  background-color: #222222;
  color: white;
  padding: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container_left {
  margin-left: 2rem;
}
.footer_container_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  margin-right: 2rem;
}

.navbar {
  height: 4rem;
  display: flex;
}

.neom {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2rem;
  width: 60vw;
}

#neom_logo {
  width: 40px;
  height: 50px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: 40vw;
  margin-right: 2rem;
}

.links_link {
  text-decoration: none;
  color: black;
}

.isActive {
  color: red;
}

.links_page {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 19rem;
}

.links_page > Navlink {
  text-decoration: none;
  color: black;
}

.links_hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

.hamburger_name {
  background-color: #b79535;
  padding: 0.3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem 1rem;
  color: white;
  margin: -2px;
  display: flex;
  justify-content: center;
}

.links_hamburger_containerBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.links_hamburger_containerBtn div {
  width: 15px;
  height: 2px;
  background-color: black;
  margin: 3px 0;
}

.hamburger_model {
  position: absolute;
  top: 3rem;
  right: 5rem;
  background-color: white;
  border-radius: 0.7rem;
  padding: 0.5rem;
  width: 10rem;
}

.active {
  display: none;
}

.hamburger_model_links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 0.5rem;
  font-size: 0.9rem;
  transition: 0.2s all;
}

.hamburger_model_links > a {
  text-decoration: none;
  margin: 0.2rem;
  color: black;
}

.notification {
  cursor: pointer;
}

.notification::after {
  content: "";
  position: relative;
  top: -11px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-color: #b79535;
  border-radius: 50%;
  font-size: 10px;
  display: inline-block;
}

#bell-logo {
  width: 20px;
  height: 20px;
}

#links_web_img {
  width: 15px;
  height: 15px;
}

.notification_model {
  position: absolute;
  top: 3rem;
  right: 11rem;
  background-color: #222222;
  border-radius: 0.7rem;
  padding: 0.5rem;
  width: 22rem;
}

.notification_model_cancel {
  text-align: right;
}

.notification_model_cancelBtn {
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.2rem;
  cursor: pointer;
}

.notification_model_title {
  color: #eeff00;
  font-size: 1.5rem;
  font-family: cursive;
  margin: 0rem 1rem;
}

#notification_model_title_bell {
  height: 1.3rem;
  padding: 0rem 0rem;
  /* color: #EEFF00; */
  transform: rotate(335deg);
}

.notification_model_text {
  color: white;
  font-size: 0.8rem;
  margin: 0.6rem 1rem;
}

.notification_model_btns {
  display: flex;
  margin: 1.6rem 1rem 0.7rem 1rem;
}

.notification_model_btns_rescheduleBtn {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.notification_model_btns_cancelBtn {
  border: none;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  border-radius: 0.3rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}

.visitedContainer {
  margin: 1rem 1rem 1rem 0;
  font-family: cursive;
}

#visitedContainer_img {
  height: 22rem;
  border-radius: 0.5rem;
  width: 16rem;
}

.visitedContainer_description_title {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

.visitedContainer_description_attented {
  margin: 0.4rem 0 0 0;
  font-size: 0.7rem;
  font-weight: 300;
}

.visitedContainer_description_dateandTime {
  margin: 0;
  font-size: 0.7rem;
}

.visitedContainer_rating_stars {
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0;
}

.visitedContainer_rating_stars_black {
  margin-left: 0.4rem;
}

.recommation_container {
  margin-right: 1rem;
}

.recommationContainer_imgContainer {
  position: relative;
}

#recommationContainer_heartpng {
  height: 2rem;
  position: relative;
  top: 0px;
  left: 0px;
}

#recommationContainer_img {
  border-radius: 0.5rem;
  height: 20rem;
  width: 15rem;
}

.number {
  font-size: 84px;
  font-weight: bolder;
  color: transparent;
  background-color: transparent;
  text-shadow: none;
  position: absolute;
  z-index: 1;
  top: 14.1rem;
  left: 11.1rem;
  -webkit-text-stroke: 2px white;
}

.recommationContainer_subtext {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.recommationContainer_subtext_name {
  font-size: 0.6rem;
  margin: 0;
}

.recommationContainer_subtext_date {
  font-size: 0.6rem;
  font-weight: 700;
  color: gray;
  margin: 0;
}

.recommationContainer_description_name {
  font-size: 0.9rem;
  margin: 1rem 0 0 0;
}

.recommationContainer_description_time {
  font-size: 0.7rem;
  margin: 0.5rem 0 0 0;
}

/* /////////////////// */
/* Heart CSS */
.heart {
  cursor: pointer;
  position: relative;
  top: -17rem;
  left: 12rem;
  display: inline-block;
  width: 0rem;
  backdrop-filter: blur(100px);
}

.heart > svg {
  /* background-color: red; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}

.mapContainerIt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapContainerIt_title {
  font-size: 1.4rem;
  font-weight: 200;
  color: #333;
  font-family: cursive;
}

.onSchedule {
  /* font-size: 1.2rem; */
  font-weight: 200;
  color: #333;
  background-color: limegreen;
}

.onDelay {
  /* font-size: 1.2rem; */
  font-weight: 200;
  color: white;
  background-color: red;
}

.cancel_event_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cancel_event {
  position: absolute;
  top: 3rem;
  right: 11rem;
  background-color: white;
  border-radius: 0.7rem;
  padding: 0.5rem;
  width: 22rem;
  font-family: cursive;
}

.Home {
  margin-left: 2rem;
  font-family: sans-serif;
}

.Home_title {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
}

/* Suggestion Starts from here */
.SuggestionSectionSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
}

.suggestionSection_title {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
}

.SuggestionSectionSlider::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.recommandationSection_title {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 200;
  color: #333;
}

.recommandationSection_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.visitedSection_title {
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 200;
  color: #333;
}

.visitedSectionSlider {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
}

.recommadation_container {
  position: relative;
  margin: 0.2rem;
}

#recommadation_img {
  width: 43rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 10px;
}

.recommadation_container_text_overlay {
  margin: 0;
  font-family: cursive;
  color: white;
  width: 37rem;
  position: absolute;
  top: 17rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recommadation_img_title {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.7rem;
}

.recommadation_img_type,
.recommadation_img_time {
  margin: 0;
  font-size: 0.9rem;
}

.recommadation_container_text_overlay_right {
  display: flex;
  width: 6rem;
  justify-content: space-around;
  align-items: center;
}

.recommadation_container_text_overlay_right_text {
  margin: 0;
}

#recommadation_container_text_overlay_right_smileface {
  height: 0.8rem;
  margin: 0;
}

.favorites_recommendation_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.favoritesPg {
  margin-left: 2rem;
}

.favoritesPg_greet {
  font-size: 2rem;
  font-family: cursive;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.favoritesPg_description {
  font-size: 1.2rem;
  font-family: cursive;
  margin: 0.7rem 0 0 0;
}

.favoritesPg_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.favoritesPg_recommendation_title {
  font-size: 1.7rem;
  font-family: cursive;
  margin: 0;
  margin-top: 20px;
}

.favoritesPg_recommendation_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.favoritesPg_recommandation_section-title {
  font-size: 1.7rem;
  font-family: cursive;
  margin: 0;
  margin-top: 20px;
}

.favoritesPg_recommandation_section-slider {
  display: flex;
  margin: 1rem 0 0 0;
}

body {
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7f2;
}

.upcomingEventsPg {
  font-family: cursive;
  margin: 3rem 0 0 2rem;
}

.upcomingEventsPg_heading {
  font-size: 2rem;
  margin: 0;
}

.upcomingEventsPg_text {
  margin: 0;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.upcomingEventsPg_date_and_distance {
  display: flex;
  gap: 5rem;
}

.upcomingEventsPg_date_location_btns {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}

.upcomingEventsPg_date_location_btns button {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.6rem;
  cursor: pointer;
  background-color: transparent;
}

.upcomingEventsPg_location_btn {
  width: 12rem;
}

.upcomingEventsPg_distance_btns {
  display: flex;
  width: 58rem;
  justify-content: space-between;
}

.upcomingEventsPg_distance_btns_walking, .upcomingEventsPg_distance_btns_driving, .upcomingEventsPg_distance_btns_no_limit {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.6rem;
}

.upcomingEventsPg_distance_btns_walking button, .upcomingEventsPg_distance_btns_driving button, .upcomingEventsPg_distance_btns_no_limit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.upcomingEventsPg_eventsType {
  font-size: 1rem;
}

.upcomingEventsPg_eventsType_btns {
  display: flex;
}

.upcomingEventsPg_eventsType_btns button {
  margin-right: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: transparent;
}

.upcomingEventsPg_events_img_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
  width: 80rem;
}

.upcomingEventsPg_events_img_container_img {
  width: 15rem;
  border-radius: 1rem;
  margin: 0.1rem;
  height: 26rem;
}

.upcomingEventsPg_events_img_container_img img {
  height: 20rem;
}

.upcomingEventsPg_events_img_container_img_text {
  margin: 0 0.5rem;
}

.upcomingEventsPg_events_img_container_img_text_subtext {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  width: 14.5rem;
}

.upcomingEventsPg_events_img_container_img_text_subtext_name {
  margin: 0;
}

.upcomingEventsPg_events_img_container_img_text_subtext_date {
  margin: 0;
}

.upcomingEventsPg_events_img_container_img_text_name {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
}

.upcomingEventsPg_events_img_container_img_text_time {
  font-size: 0.8rem;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.footer_container {
  margin: 0;
  margin-top: 3%;
  background-color: #222222;
  color: white;
  padding: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_container_left {
  margin-left: 2rem;
}

.footer_container_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13rem;
  margin-right: 2rem;
}


.canceleventPg {
  margin-left: 2rem;
}
.canceleventPg_greet {
  margin: 2rem 0 0 0;
  font-size: 2rem;
  font-weight: 600;
  font-family: cursive;
}
.canceleventPg_description {
  font-family: cursive;
  font-size: 1.2rem;
  width: 81rem;
}
.canceleventPg_event {
  position: relative;
  margin-top: 2rem;
}
.canceleventPg_event_img {
  overflow: hidden;
  height: 30rem;
  width: 98%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canceleventPg_event_img img {
  -webkit-backdrop-filter: brightness(0.1);
  backdrop-filter: brightness(0.1);
  max-width: none;
  max-height: none;
  width: 100%; /* Ensures it fills the div */
  height: 100%;
  object-fit: cover; /* Ensures no distortion and fills the div */
  object-position: center; /* Centers the image */
}
.canceleventPg_event_details {
  text-align: center;
  font-family: cursive;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canceleventPg_event_details_title {
  margin: 0;
  font-size: 3rem;
}
.canceleventPg_event_details_btn {
  margin: 3rem 0 0 0;
}
.canceleventPg_event_details_btn button {
  cursor: pointer;
  margin: 0 auto;
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
  background-color: white;
  font-size: 0.9rem;
  border: none;
}
.canceleventPg_event_details_countdown {
  display: flex;
  gap: 20px;
}
.canceleventPg_event_details_countdown_circle {
  width: 7rem;
  height: 7rem;
  border: 5px solid rgba(133, 130, 130, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.canceleventPg_event_details_countdown_circle_value {
  font-size: 1.7rem;
}
.canceleventPg_event_details_countdown_circle_type {
  font-size: 1rem;
}
.canceleventPg_similarRecommendation {
  margin: 2rem 0;
}
.canceleventPg_similarRecommendation_heading {
  font-size: 2rem;
  font-family: cursive;
}

.recommendationCards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  flex-wrap: wrap;
  width: 80rem;
}
.recommendationCards_card {
  position: relative;
  width: 15rem;
  border-radius: 1rem;
  margin: 0.1rem;
  height: 28rem;
}
.recommendationCards_card_img_container {
  overflow: hidden;
  height: 22rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recommendationCards_card_img_container img {
  -webkit-backdrop-filter: brightness(0.1);
  backdrop-filter: brightness(0.1);
  max-width: none;
  max-height: none;
  width: 100%; /* Ensures it fills the div */
  height: 100%;
  object-fit: cover; /* Ensures no distortion and fills the div */
  object-position: center; /* Centers the image */
}
.recommendationCards_card_text {
  margin: 0 0.5rem;
}
.recommendationCards_card_text_subtext {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  width: 14.5rem;
}
.recommendationCards_card_text_subtext_name {
  margin: 0;
}
.recommendationCards_card_text_subtext_date {
  margin: 0;
}
.recommendationCards_card_text_name {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
}
.recommendationCards_card_text_time {
  font-size: 0.8rem;
  margin: 0;
}
.recommendationCards_card_heart {
  cursor: pointer;
  position: absolute;
  top: -1rem;
  left: 9rem;
  width: 18px;
  height: 14px;
  background-color: #222222;
  transform: rotate(-45deg);
  margin: 50px;
}
.recommendationCards_card_heart::before, .recommendationCards_card_heart::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background-color: #222222;
  border-radius: 50%;
}
.recommendationCards_card_heart::before {
  top: -10px;
  left: 0px;
}
.recommendationCards_card_heart::after {
  top: -2px;
  left: 9px;
}

.selectDistance_btns {
  display: flex;
  gap: 1rem;
}
.selectDistance_btns_walking, .selectDistance_btns_driving, .selectDistance_btns_noLimits {
  margin: 0;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
}
.selectDistance_btns_walking button, .selectDistance_btns_driving button, .selectDistance_btns_noLimits button {
  transition: all 0.5s;
  margin: 0;
  cursor: pointer;
  border: none;
  padding: 0.6rem 1rem;
  background-color: transparent;
  font-size: 0.8rem;
}
.selectDistance_btns_walking button:hover, .selectDistance_btns_driving button:hover, .selectDistance_btns_noLimits button:hover {
  background-color: black;
  color: white;
}

.eventDetailsPg {
  margin-top: 2rem;
  margin-left: 2rem;
}
.eventDetailsPg_heading {
  font-size: 2rem;
  font-family: cursive;
  margin: 0;
}
.eventDetailsPg_details {
  gap: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.eventDetailsPg_images {
  position: relative;
  display: flex;
  margin: 0;
}
.eventDetailsPg_images_left {
  display: flex;
  gap: 0.5rem;
  width: 40.9rem;
  flex-wrap: wrap;
}
.eventDetailsPg_images_left_img {
  width: 20rem;
  overflow: hidden;
}
.eventDetailsPg_images_left_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.eventDetailsPg_images_right {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.eventDetailsPg_images_right_img {
  height: 30.9rem;
  width: 39rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventDetailsPg_images_right_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eventDetailsPg_images_btn {
  position: absolute;
  top: 28rem;
  right: 2rem;
  border: none;
  background: white;
  border-radius: 0.4rem;
  padding: 0.7rem 2rem;
  cursor: pointer;
}
.eventDetailsPg_images_btn:hover {
  background: #f1f1f1;
}
.eventDetailsPg_description {
  font-size: 0.9rem;
  margin: 1rem 0;
  display: flex;
}
.eventDetailsPg_description_left {
  width: 51rem;
}
.eventDetailsPg_description_left_heading {
  font-size: 2rem;
  font-family: cursive;
  margin: 0;
}
.eventDetailsPg_description_left_details {
  font-size: 0.8rem;
}
.eventDetailsPg_description_left_details_1, .eventDetailsPg_description_left_details_2, .eventDetailsPg_description_left_details_3 {
  margin: 1rem 0 0 0;
}
.eventDetailsPg_description_left_details_1 p, .eventDetailsPg_description_left_details_2 p, .eventDetailsPg_description_left_details_3 p {
  margin: 0;
  font-size: 0.8rem;
}
.eventDetailsPg_description_left_details_1 p:first-child, .eventDetailsPg_description_left_details_2 p:first-child, .eventDetailsPg_description_left_details_3 p:first-child {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
.eventDetailsPg_description_left_eventName {
  margin-top: 4rem;
}
.eventDetailsPg_description_left_eventName_heading {
  font-size: 2rem;
  font-family: cursive;
  margin: 0;
}
.eventDetailsPg_description_left_eventName_stars {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  margin: 0.6rem 0 0 0;
}
.eventDetailsPg_description_left_eventName_stars img {
  margin: 0;
  width: 1rem;
  height: 1rem;
}
.eventDetailsPg_description_left_eventName_stars_text {
  display: block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.eventDetailsPg_reviews {
  display: flex;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  gap: 1rem;
}
.eventDetailsPg_recommendations_heading {
  font-size: 1.7rem;
  font-family: cursive;
  margin: 3rem 0 0 0;
}

.reviewCard {
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  max-width: 17rem;
  max-height: 28rem;
  padding: 1rem;
  width: 17rem;
  flex-direction: column;
  gap: 0.7em;
}
.reviewCard_user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.reviewCard_user_img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.reviewCard_user_text {
  margin: 0;
}
.reviewCard_user_text_name {
  margin: 0;
  font-size: 0.9rem;
}
.reviewCard_user_text_date {
  margin: 0;
  font-size: 0.7rem;
  color: grey;
}
.reviewCard_text {
  margin: 0;
  font-size: 0.9rem;
}
.reviewCard_rating {
  display: flex;
  align-items: center;
  margin: 0.6rem 0 0 0;
}
.reviewCard_rating img {
  margin: 0;
  width: 0.8rem;
  height: 0.8rem;
}
.reviewCard_btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  text-align: left;
  padding: 0;
}

/*# sourceMappingURL=App.css.map */
