$margin-left: 2rem;

.canceleventPg {

  &_greet {
    margin: 2rem 0 0 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: cursive;
  }

  &_description {
    font-family: cursive;
    font-size: 1.2rem;
    width: 81rem; 
  }




}
