.button-container {
  margin: 0rem 0 0 0;
  display: flex;
  /* gap: 10px; */
  align-items: center;
}

.arrow-button {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin: 0.5rem;
}

.arrow-button::after {
  content: "";
  width: 11px;
  height: 0px;
  border: 2px solid rgb(189, 189, 189);
  border-top: transparent;
  border-right: transparent;
  position: absolute;
}

.arrow-button.left::before,
.arrow-button.right::before {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid rgb(146, 145, 145);
  border-top: transparent;
  border-right: transparent;
  position: absolute;
}

.arrow-button.left::before {
  transform: rotate(-135deg);
  left: 15px;
}

.arrow-button.right::before {
  transform: rotate(45deg);
  right: 15px;
}
